In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
#city_data_df.head()

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maaximum temperature
max_temp =city_data_df["Max Temp"]
temps = []
# for temp in max_temp:
#     temps.append(max(temp,0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
humidity = city_data_df["Humidity"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
wind = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sola,VU,2021-10-24 06:32:11,-13.8833,167.5500,81.41,77,21,15.86
1,1,Bambanglipuro,ID,2021-10-24 06:32:11,-7.9500,110.2833,84.20,68,58,11.61
8,8,Longhua,CN,2021-10-24 06:32:13,23.6137,114.1919,77.22,49,0,6.71
13,13,Busselton,AU,2021-10-24 06:29:54,-33.6500,115.3333,75.04,63,100,10.36
16,16,Rikitea,PF,2021-10-24 06:32:05,-23.1203,-134.9692,75.24,75,100,20.09

In [12]:
preferred_cities_df.count()

City_ID       179
City          179
Country       178
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

              City Country  Max Temp      Lat       Lng Hotel Name
0             Sola      VU     81.41 -13.8833  167.5500
1    Bambanglipuro      ID     84.20  -7.9500  110.2833
8          Longhua      CN     77.22  23.6137  114.1919
13       Busselton      AU     75.04 -33.6500  115.3333
16         Rikitea      PF     75.24 -23.1203 -134.9692
..             ...     ...       ...      ...       ...        ...
577     Nouakchott      MR     78.42  18.0858  -15.9785
579       Ampanihy      MG     88.97 -24.7000   44.7500
581         Bolobo      CD     77.95  -2.1667   16.2333
582       Buraydah      SA     75.65  26.3260   43.9750
585          Ambon      ID     82.54  -3.6954  128.1814

[179 rows x 6 columns]

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotel = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# hotel_df = hotel_df.dropna(how='any')
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sola,VU,81.41,-13.8833,167.5500,Leumerus Bungalows
1,Bambanglipuro,ID,84.20,-7.9500,110.2833,Puri Brata
8,Longhua,CN,77.22,23.6137,114.1919,Huadu Hotel
13,Busselton,AU,75.04,-33.6500,115.3333,Observatory Guest House
16,Rikitea,PF,75.24,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...
577,Nouakchott,MR,78.42,18.0858,-15.9785,HOTEL IMAN فندق إيمان
579,Ampanihy,MG,88.97,-24.7000,44.7500,Angora Hotel
581,Bolobo,CD,77.95,-2.1667,16.2333,Hotel de Stephen
582,Buraydah,SA,75.65,26.3260,43.9750,فندق راحة السلام
585,Ambon,ID,82.54,-3.6954,128.1814,Swiss-Belhotel Ambon

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))