## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Resources/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Chiredzi,ZW,89.83,clear sky,-21.0500,31.6667,Clevers Hotel Chiredzi
1,3,Carnarvon,AU,78.87,clear sky,-24.8667,113.6333,Hospitality Carnarvon
2,7,Bathsheba,BB,81.21,few clouds,13.2167,-59.5167,Atlantis Hotel
3,9,Tabou,CI,76.82,broken clouds,4.4230,-7.3528,hotêl doufoulougou
4,12,Zhuhai,CN,76.71,few clouds,22.2769,113.5678,Nanyang Seascape Hotel Zhuhai Hotel
...,...,...,...,...,...,...,...,...
201,694,Totness,SR,77.58,overcast clouds,5.8833,-56.3167,STAATS LOGEERGEBOUW TOTNESS
202,695,Coari,BR,77.40,broken clouds,-4.0850,-63.1414,HOTEL ALEX FLAT
203,696,Kismayo,SO,80.96,clear sky,-0.3582,42.5454,Agan-Hotel
204,698,Iberia,US,75.20,clear sky,29.9502,-91.7507,back to back rv park
205,700,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Batticaloa"]
vacation_end = vacation_df.loc[vacation_df['City']=="Batticaloa"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Kalmunai"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Hambantota"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Matara"] 
#vacation_start.dtypes

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start.to_numpy()
start = vacation_start[["Lat","Lng"]].to_numpy()[0][0],vacation_start[["Lat","Lng"]].to_numpy()[0][1]
end = vacation_end[["Lat","Lng"]].to_numpy().tolist()[0][0],vacation_end[["Lat","Lng"]].to_numpy().tolist()[0][1]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy().tolist()[0][0],vacation_stop1[["Lat","Lng"]].to_numpy().tolist()[0][1]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy().tolist()[0][0],vacation_stop2[["Lat","Lng"]].to_numpy().tolist()[0][1]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy().tolist()[0][0],vacation_stop3[["Lat","Lng"]].to_numpy().tolist()[0][1]
# x=vacation_start.to_numpy()
# x=(vacation_start.to_numpy()).tolist()
# x[0:2]
start

(7.7102, 81.6924)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,270,Batticaloa,LK,84.56,broken clouds,7.7102,81.6924,Grand Star Guest House
1,270,Batticaloa,LK,84.56,broken clouds,7.7102,81.6924,Grand Star Guest House
2,403,Kalmunai,LK,85.95,broken clouds,7.4167,81.8167,VS Villa
3,350,Hambantota,LK,86.83,broken clouds,6.1241,81.1185,Bungalow 63
4,211,Matara,LK,86.38,broken clouds,5.9485,80.5353,Amaloh Boutique Resort

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description},{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))